@{
    ViewBag.Title = "ICT SHOP";
}

<br />
<div class="row">
    <div class="col-md-8">
        @Html.Action("SlidePartial", "Home")
    </div>
    <div class="col-md-4">
        <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/oppo-a77s-sliding.jpg" class="img-responsive" alt="" />
        <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/Fold3.png" class="img-responsive" alt="" />
    </div>
</div>
<div>
    <img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
</div>
<br />
<div class="spnoibat">
    <div class="row">
        <h3> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="https://dienthoaigiakho.vn/_next/image?url=https%3A%2F%2Fcdn.dienthoaigiakho.vn%2Fphotos%2F1667289120580-808x340-iPHONE14VNA.jpg&w=1200&q=75" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="https://dienthoaigiakho.vn/_next/image?url=https%3A%2F%2Fcdn.dienthoaigiakho.vn%2Fphotos%2F1667288906607-808x340_Galaxy-Flip-4.jpg&w=1200&q=75" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="https://dienthoaigiakho.vn/_next/image?url=https%3A%2F%2Fcdn.dienthoaigiakho.vn%2Fphotos%2F1667459727747-808x340_AW-S8.jpg&w=1200&q=75" class="img-responsive" alt="" />
        </div>
    </div>
</div>
<div class="dt">

    @Html.Action("dtiphonePartial", "Sanpham")
</div>
<div class="dt">

    @Html.Action("dtsamsungpartial", "Sanpham")
</div>

<div class="dt">

    @Html.Action("dtxiaomipartial", "Sanpham")
</div>
<div class="dt">

    @Html.Action("ipad", "Sanpham")
</div>
<div class="dt">

    @Html.Action("tabletsamsung", "Sanpham")
</div>

<div class="dt">

    @Html.Action("tabletxiaomi", "Sanpham")
</div>
<div class="dt">

    @Html.Action("mac", "Sanpham")
</div>
<div class="dt">

    @Html.Action("dell", "Sanpham")
</div>

<div class="dt">

    @Html.Action("asus", "Sanpham")
</div>



